/* body rule */
body {
    margin: 0;
    font-family: 'Courier New', Courier, monospace;
}

/* file container rule */
.file-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 7%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2px;
    font-size: large;
    color:rgb(242, 255, 240);   
}

/* on hover of file upload input */
.file-container #file-upload:hover{
    background-color: rgb(255, 255, 255);
    color:black;
}

/* url-input rule*/
.file-container #url-input {
    width: 15%;
}


/* player-container rule */
.player-container {
    position: fixed;
    bottom:  0;
    left: 0;
    width: 100%;
    height: 10%;
    background-color: rgba(255, 255, 255, 0.1);
    display: flex;
    justify-content: center; /* horizontally */
    align-items: center; /* vertically */   
}

/* audio-player rule */
.audio-player {
    width: 80%;
    padding: 20px;
    height: 90%;   
}

/* video-player rule */
video {
    width: 100vw;
    height: 100vh;
    object-fit: cover;
    position: fixed;
    top: 0;
    left: 0;
}


